:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Nav bar */

.nav{
  position: fixed;
  top: 0;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  height: 73px;
  z-index: 1;

  /* animation */

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_contents{
  display:flex;
  justify-content: space-between;
}

.nav_black{
  background-color: rgb(8, 22, 72);
}

.nav_logo{
  position:fixed;
  left: 0%;
  height: 50px;
  width: 100px;
  padding-left: 20px;
  cursor: pointer;
}

.nav_avtar{
  position: fixed;
  right: 1%;
  height: 40px;
  width: 40px;
  cursor: pointer;

}

.navbutton{
  /* background-color: white; */
  height:40px;
  margin-left:70%;
  width:40%;
  border-radius: 2px;
  border-width: 5px;
  padding-top: 3px;
}

.buttonNav{
  margin-left: 20px;
  margin-right: 2px;
  margin-top: 3px;
  font-size: large;
  font-weight: bold;
  border-width: 0;
  width: 20%;
  height: 30px;
  background-color: rgb(28, 8, 251);
  
}

.buttonNav:hover{
  color: white;
  background-color: #a275cd;
  transition:all 0.2s;
}

/* banner */

.Baner{
  position: relative;
  height: 350px;
  width: 100%;
  color:white;
  object-fit: contain;
}

.banner_contents{
  margin-left:30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description{
  width:45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner--fadebotton{
  height:2.2rem;
  background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37,37,37,0.61),
      #111
  );
}

.banner_button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner_button:hover{
  color: #000;
  background-color: #e6e6e6;
  transition:all 0.2s;
}

.welcome{
  height:50px;
  padding: 15px;
  cursor: pointer;
  /* margin-left: 40%; */
  background-image: linear-gradient(
      rgba(91, 190, 190, 0.61),
      rgb(5, 37, 84)
  ); 
}

.Heading{
  margin-left: 40%;
  font-size: 23px;
  font-weight: 700;
  width: 17.4%;
}

.Heading:hover{
  color: rgb(242, 246, 247);
  background-image: linear-gradient(
    rgba(151, 149, 181, 0.61),
    rgb(5, 37, 84)
);
  transition:all 0.2s;
}

.button_div{
  height:350px;
  padding:20px 250px 20px 250px;
  background-image: linear-gradient(
    rgba(122, 106, 194, 0.61),
    rgb(214, 218, 189)
);
}

.button1{
  float:left;
  margin-left: 15%;
}

.button2{
  float:right;
}

.student_img{
  height:150px;
  width:90%;
  margin-left: 20%;
  border-radius: 100px;
}
.teacher_logo{
  height:150px;
  width:50%;
  border-radius: 100px;
  
}

.button_student{
  cursor: pointer;
  height: 50px;
  width:80%;
  border-width: 0;
  color:black;
  font-size: 23px;
  font-weight: 700;
  background-color: rgb(200, 202, 97);
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 10px;
}

.button_teacher{
  cursor: pointer;
  height: 50px;
  width:50%;
  border-width: 0;
  color:black;
  font-size: 23px;
  font-weight: 700;
  background-color: rgb(200, 202, 97);
  border-radius: 5px;
  margin-top: 10px;
}

.button_student:hover{
  color: rgb(242, 246, 247);
  background-image: linear-gradient(
    rgba(21, 26, 26, 0.61),
    rgb(0, 51, 71)
);
transition:all 0.2s;
}

.button_teacher:hover{
  color: rgb(242, 246, 247);
  background-image: linear-gradient(
    rgba(21, 26, 26, 0.61),
    rgb(0, 51, 71)
);
transition:all 0.2s;
}

/* signIn */

.Sdiv1{
  width: 100%;
  background-color: rgb(212, 198, 198);
  padding-top: 10px;
  height: 752px;
}

.Sdiv2{
    width: 50%;
    background-color: aliceblue;
    margin: 35px 10px 10px 411px;
    padding: 58px 100px 50px 100px;
    background-image: linear-gradient(rgb(24, 54, 75),rgb(214, 203, 221),rgb(234, 211, 236),rgb(24, 78, 93));
}

.Sdiv3{
  background-color: #2e3b30;
    padding: 25px 0px 16px 50px;
    border-radius: 18px;
}

.Sbutton1{
  height: 34px;
    width: 30%;
    margin-left: 65px;
    background-color: #309184;
    color: white;
    border-width: 0;
}

.Sbutton2{
  height: 34px;
    width: 30%;
    background-color: #9eb5b2;
    color: white;
    border-width: 0;
    margin-bottom: 20px;
}

.Sspan1{
  margin-left: 157px;
  color: white;
  font-size: larger;
}

.sinput1{
  margin: 10px;
    height: 35px;
    width: 78%;
    padding: 0px 0px 0px 23px;

}

.Sbutton3{
  width: 50%;
    height: 38px;
    background-color: #59baa1;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 71px;
}

.Slink1{
  color: white;
    text-decoration: none;
}

/* Login */

.Ldiv1{
  width: 100%;
  background-color: rgb(67, 63, 63);
  padding-top: 10px;
  height: 752px;
}

.Ldiv2{
  width: 45%;
    height: 550px;
    background-color: aliceblue;
    margin: 35px 10px 10px 411px;
    padding: 58px 100px 50px 100px;
    background-image: linear-gradient(rgb(24, 54, 75),rgb(214, 203, 221),rgb(234, 211, 236),rgb(24, 78, 93));
}

.Ldiv3{
  background-color: #2e3b30;
    padding: 25px 0px 16px 50px;
    border-radius: 18px;
    margin: 100px 0px 0px 0px;
}

.Lbutton1{
  height: 34px;
    width: 30%;
    margin-left: 65px;
    background-color: #9eb5b2;
    color: white;
    border-width: 0;
}

.Lbutton2{
  height: 34px;
    width: 30%;
    background-color: #309184;
    color: white;
    border-width: 0;
    margin-bottom: 20px;
}

.Lspan1{
  margin-left: 157px;
  color: white;
  font-size: larger;
}

.linput1{
  margin: 10px;
    height: 35px;
    width: 78%;
    padding: 0px 0px 0px 23px;

}

.Lbutton3{
  width: 50%;
    height: 38px;
    background-color: #59baa1;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 71px;
}

.Llink1{
  color: white;
    text-decoration: none;
}

/* createQuiz */

.quizDiv{
  padding: 20px 70px 20px 20px;
  margin: 100px 80px 30px 90px;
  background-image: linear-gradient(
    rgb(9, 34, 74),white,rgb(21, 39, 85)
  );
}

.quizfirst1{
  background-color: rgb(80, 131, 152);
  padding: 30px 30px 30px 30px;
  width: 103%;
  border-width: 0px;
  border-radius: 10px;
}

.quizfirst2{
  background-color: rgb(207, 90, 81);
  padding: 30px;
  width: 103%;
  border-width: 0px;
  border-radius: 10px;
}

.blankdiv{
  height: 40px;
}

.createQuizinput{
  height: 30px;
  border-radius: 10px;
  border-width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonquizsave{
  width: 30%;
  height: 50px;
  margin-left: 35%;
  font-size: 30px;
  font-weight: 100;
  border-radius: 10px;
  border-width: 0;
  background-image: linear-gradient(
    rgb(22, 147, 97),
    white,
    rgb(22, 147, 97)
  );
}

.buttonquizsave:hover{
  color: rgb(95, 232, 10);
  background-image: linear-gradient(
    green,white,green
  );
  transition:all 0.2s;
}

.mainquizdiv{
  padding: 10px;
  background-color: #000;
}

/* play */

.mainquizdivPlay{
  padding: 10px;
  background-color: #000;
}

.quizDivPlay{
  padding: 20px 70px 20px 20px;
  margin: 0px 80px 30px 90px;
  background-image: linear-gradient(
    rgb(9, 34, 74),white,rgb(21, 39, 85)
  );
}

.quizfirst1Play{
  background-color: rgb(80, 131, 152);
  padding: 30px 30px 30px 30px;
  width: 103%;
  border-width: 0px;
  border-radius: 10px;
}

.questionPlay{
  font-size: 20px;
  padding-bottom: 5px;
}

.optionPlay{
  font-size: 20px;
  padding-top: 5px;
}